.cywamgzhan{
    text-align: center;
    font-size: 40px;
    color:#313131;
}
.dibu{
    text-align: center;
    bottom: 5px;
    font-size: 20px;
    color:#263859;
}
.xianyu{
    text-align: center;
    font-size: 40px;
    color: #7189bf;
}
.yy{
    text-align: center;
    color: #385170;
    font-size: 40px;
}
.musictb{
    text-align: center;
}
.music{
    text-align: center;
    margin: 0 auto;
}
.juz{
    text-align: center;
}
.musiclj{
    font-size: 30px;
    color: #257aa6;
    text-decoration: none;
}
.musiclj:hover{
    background: #444444;
    color: #eaeaea;
    transition-delay: 50ms;
    transition-duration: 500ms;
}
.sp{
    text-align: center;
    font-size: 40px;
    color: #183661;
}
.spbt{
    text-align: center;
    font-size: 30px;
    color: #393e46;
    text-decoration: none;
}
.spbt:hover{
    background: #222222;
    color: #cccccc;
    transition-delay: 50ms;
    transition-duration: 200ms;
}
.spw{
    text-align: center;
    margin: 0 auto;
}