.cywamgzhan{
    text-align: center;
    font-size: 40px;
    color: #313131;
}
.dibu{
    text-align: center;
    bottom: 5px;
    font-size: 30px;
    color: black;
}
.xianyu{
    text-align: center;
    font-size: 40px;
    color: #7189bf;
}